template(name='front')
      .row
         .col-md-12
            .jumbotron
               h2
                  | Rustifaq Merchant Exchange (RME)
               p
                  | A place for buyers and sellers to peddle their wares.
               p
                  a.btn.btn-primary.btn-large(href='#') Learn more
