template(name='sell')
    .row
        .col-md-12
            .page-header
                h2
                    | Sell Orders <small> Merchants who are looking to sell a commodity will list their orders here.</small>
    .row
        .col-md-12
            +ordersTable
