template(name="factionSettingsForm")
    form.form-inline
        label Add Faction
        form-group
            input(type="text" placeholder="Faction Name" name="inputFactionName" required).form-control
        button(type="submit").btn.btn-default Add Faction