template(name="townSettingsForm")
    form.form-inline
        label Add Town
        form-group
            input(type="text" placeholder="Town Name" name="inputTownName" required).form-control
        button(type="submit").btn.btn-default Add Town


