
body
    // Wrap all page content here

    #wrap
        +mainNavigation
        .container
            +Router

    #footer
        .container
            //+loginButtons
            p.text-muted.credit
                | Developed by
                a(href='https://github.com/cloggy45') Paul Mcloughlin



