template(name='active')
    .row
        .col-md-12
            .page-header
                if canCreateOrder
                    h2
                        | My Orders - <small>#{activeOrdersTotal}/#{maxOrders} Orders remaining.</small>
                else
                    h2
                        | My Orders <small><b>#{activeOrdersTotal}/#{maxOrders}</b> You must first delete orders before you can add anymore.</small>
            +activeOrderTable