<!--<template name="townsList">-->
    <!--<table class="table">-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<th>Town Name</th>-->
                <!--<th>Coordinates</th>-->
            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--{{#each towns}}-->
                <!--<td>{{name}}</td>-->
                <!--<td>{{coordinates}}</td>-->
            <!--{{else}}-->
                <!--<td>No Towns have been added</td>-->
            <!--{{/each}}-->
        <!--</tbody>-->
    <!--</table>-->
<!--</template>-->

<template name="townsList">
    <ul class="list-group">
        {{#each towns}}
            <li class="list-group-item">
                {{name}}
                {{coordinates}}
                <button data-id="{{_id}}" class="btn btn-primary ">Delete</button>
            </li>
        {{else}}
            <li>No Towns have been added</li>
        {{/each}}
    </ul>
</template>